@import "../../common";

.btn-container {
  height: 28px;
  padding-left: 18px;
  padding-right: 18px;
  outline: none;
  border: 1px solid $borderColor;
  font-size: 14px;
  cursor: pointer;
  white-space: nowrap;

  img {
    display: none;
  }


  &.high-light {
    @include setBgColorAndHover(#3c86ff)
  }

  &.selector {
    padding: 0;

    img {
      display: block;
      width: 26px;
      height: 26px;
    }
  }

  @include setBgColorAndHover($containerColor)
}