@import "../../common";

.header-container {

  align-items: center;
  flex-direction: row;
  display: flex;
  border-bottom: 1px solid $borderColor;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 10px;

  flex-wrap: wrap;
  .btn-container {
    margin-top: 10px;
    margin-right: 16px;
  }

  .selector-container {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;

    span {
      margin-right: 4px;
    }
  }
}