# Gradle
web-scraper-server/.gradle/
web-scraper-server/gradle/

# IDE
.idea/
web-scraper-server/.idea/
*.iml
/out/

# Output
web-scraper-server/logs/
web-scraper-server/build/
web-scraper-server/docker/scraper/build/libs/web-scraper*.jar

# Work
/work/

# Config
.classpath
.project
.settings/
input.txt

# Stop Mac OS from Littering
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
