# Gradle
web-scraper-server/.gradle/

# IDE
.idea/
web-scraper-front/.idea/
web-scraper-server/.idea/
web-scraper-docker/.idea/
*.iml
/out/
.vscode

# Output
web-scraper-server/logs/
web-scraper-server/logs
web-scraper-server/build/
web-scraper-docker/local-data/
web-scraper-docker/scraper/build/libs/web-scraper-server-*.jar
web-scraper-docker/nginx/build/libs
web-scraper-server/bin

# Work
/work/

# Config
.classpath
.project
.settings/
input.txt

# Stop Mac OS from Littering
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

# Cache/other
web-scraper-server/.st*
web-scraper-server/hs*
.attac*
