@import "../../common.scss";

.RegexField {
  flex: 1;
  position: relative;

  .tip {
    background: white;
    border: 1px solid $borderColor;
    left: 45px;
    padding: 10px;
    position: absolute;
    top: 30px;
    z-index: 666;

    .item {
      cursor: pointer;
      outline: none;
      white-space: nowrap;
    }
  }
}
