@import '../../../../node_modules/codemirror/lib/codemirror.css';
@import '../../../common.scss';

.ProductDetailsEditor_Row {
  align-items: flex-start;
  background: $containerColor;
  display: flex;
  margin: 5px 0;
  padding: 5px 5px 5px 0;

  .auxBlock {
    flex: 1;
    position: relative;
  }

  .attrsTip {
    background: white;
    border: 1px solid $borderColor;
    left: 60px;
    padding: 10px;
    position: absolute;
    top: 30px;
    z-index: 666;

    .item {
      cursor: pointer;
      outline: none;
      white-space: nowrap;
    }
  }

  .regexTip {
    background: white;
    border: 1px solid $borderColor;
    left: 45px;
    padding: 10px;
    position: absolute;
    top: 30px;
    z-index: 666;

    .item {
      cursor: pointer;
      outline: none;
      white-space: nowrap;
    }
  }

  .handle {
    cursor: grab;
    margin-right: 5px;
    user-select: none;
  }

  .mainContent {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  .mainContentRow {
    display: flex;
    margin: 5px 0;
  }

  .removeRowButton {
    margin-top: 10px;
  }

  .scriptEditor {
    background: white;
    border: 1px solid $borderColor;
    height: 100px;
    margin: 5px 0;
    outline: none;
    width: 100%;
  }

  .scriptExecResult {
    background: white;
    border: 1px solid $borderColor;
    margin: 0 10px;
    padding: 5px 10px;

    .label {
      font-weight: bold;
      text-decoration: underline;
    }
  }
}
