@import "../../common";

.editor-container {
  display: flex;
  flex-direction: column;
  padding-right: 16px;
  padding-left: 16px;
}

.expand-row {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.editor-row {
  .parent-selector {
    width: 148px;
  }

  &.false {
    .input-container {
      display: none;
    }

    .btn-container {
      display: none;
    }

    .parent-selector {
      display: none;
    }
  }
}

.currentUrlWarning {
  color: gray;
  margin: 5px 0 5px 195px;
}