@import '~react-dropdown/style.css';

$borderColor: #6d9eeb;
$containerColor: #c9daf8;
$titleColor: #1c4587;


@mixin setBgColorAndHover($baseColor) {
  background-color: $baseColor;
  &:hover {
    background-color: darken($baseColor, 5%)
  }
  &:active {
    background-color: darken($baseColor, 8%)
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.icon-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  max-width: 100px;

  img {
    margin-right: 6px;
    width: 20px;
    height: 20px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.5;
  }

  &:disabled {
    opacity: 0.5;
  }
}

.input-container {
  align-items: center;
  justify-content: center;
  display: flex;
  flex: 1;

  span {
    margin-right: 6px;
  }

  input {
    height: 26px;
    padding: 0 12px;
    border: 1px solid $borderColor;
    outline: none;
    flex: 1;
    font-size: 14px;
    margin: 0 1px 0 0;

    &:focus {
      border: 1px solid #b7d1fc;
    }
  }
}

.flex1 {
  flex: 1;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;

  span {
    margin-left: 8px;
  }
}

.seq {
  width: 16px;
  display: inline-block;

  &.big {
    width: 24px;
  }
}


.indent {
  padding-left: 8px;
}

.Dropdown-control {
  border: 1px solid $borderColor;
  height: 28px;
  padding: 3px 25px 3px 10px;
  display: flex;
  flex-direction: row;
  width: 140px;
  border-radius: 0;

  .Dropdown-arrow {
    top: 11px;
  }

  .Dropdown-placeholder {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.tip {
  padding-left: 16px;
  padding-top: 16px;
}

.Dropdown-menu {
  border: 1px solid $borderColor;
}